@model Food.Models.Customer_Feedback

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Customer_Feedback</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cleens)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cleens)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Service)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Service)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FoodQuality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FoodQuality)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Suggetions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Suggetions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.ConfirmPassword)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FeedId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
